In [1]:
import pandas as pd
import pickle
import numpy as np
import json
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point, LineString

import timeit

In [163]:
acc = pd.read_pickle('data/accident.pickle')

In [83]:
acc.shape

(200183, 33)

In [105]:
# New Year's Eve crash map

#fig, ax = plt.subplots(figsize = (8, 10))
#acc.plot(ax = ax, alpha = 0.4, color = 'grey')
#acc[(acc['month'] == 12) & (acc['day']== 31)].plot(ax = ax, markersize =20, color = 'red', marker = 'o', label = 'Collision')

In [106]:
# Fatality crash map (red) vs property only damage crashes (blue) map
#fig, ax = plt.subplots(figsize = (8, 10))
#acc.plot(ax = ax, alpha = 0.4, color = 'grey', markersize = 0.1)
#acc[acc['SEVERITYDESC']=='Fatality Collision'].plot(ax = ax, markersize =30, color = 'red', marker = 'o', label = 'Collision')
#acc[acc['SEVERITYDESC']=='Property Damage Only Collision'].plot(ax = ax, markersize = .01, color = 'blue', marker = 'o')

In [240]:
volume = gpd.read_file('https://opendata.arcgis.com/datasets/170b764c52f34c9497720c0463f3b58b_9.geojson')

In [245]:
volume.rename(columns={'OBJECTID': 'SEGID'},inplace=True)

In [41]:
roads = gpd.read_file('https://opendata.arcgis.com/datasets/383027d103f042499693da22d72d10e3_0.geojson')

In [84]:
len(acc['FIRST_STNAME_ORD'].unique())

499

In [85]:
len(volume['FIRST_STNAME_ORD'].unique())

501

In [165]:
acc.head()

,OBJECTID,ADDRTYPE,LOCATION,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,...,time,year,month,day,dayofweek,hour,FIRST_STNAME_ORD,AWDT_ROUND,DOWNTOWN,SEGID
0,1,Intersection,GREEN LAKE WAY N AND N 46TH ST,1,Property Damage Only Collision,Angles,2,0,0,2,...,2018-03-26 12:50:00,2018,3,26,0,12,NE 50TH ST,23700.0,N,519
1,2,Block,LAKE CITY WAY NE BETWEEN NE 125TH ST AND NE 12...,1,Property Damage Only Collision,Other,1,0,0,1,...,2018-03-23 03:30:00,2018,3,23,4,3,NE 145TH ST,38000.0,N,96
2,3,Block,1ST AVE NE BETWEEN NE 50TH ST AND NE 51ST ST,1,Property Damage Only Collision,Parked Car,2,0,0,2,...,2018-03-24 15:00:00,2018,3,24,5,15,NE 50TH ST,24600.0,N,518
3,4,Block,25TH AVE NE BETWEEN NE BLAKELEY ST AND NE 54TH ST,1,Property Damage Only Collision,Parked Car,2,0,0,2,...,2018-03-22 17:14:00,2018,3,22,3,17,25TH AVE NE,18000.0,N,467
4,5,Block,N 36TH ST BETWEEN PHINNEY AVE N AND FRANCIS AVE N,1,Property Damage Only Collision,Parked Car,2,0,0,2,...,2018-03-25 02:03:00,2018,3,25,6,2,NW 36TH ST,22600.0,N,615

In [211]:
#s = acc.groupby(['year', 'SEGID'])['AWDT_ROUND'].sum()

In [235]:
#volume = s.loc[[2016]]
#volume

In [247]:
y16 = acc[acc['year']==2016]

In [251]:
# total traffic volume by road segment for 2016 
count16 = y16.groupby('SEGID')['AWDT_ROUND'].count().to_frame(name = 'count')

In [252]:
volume = volume.merge(count16, on = 'SEGID')

In [253]:
volume['rate'] = volume['count']/(volume['AWDT_ROUND']*365)

In [262]:
y = np.random.randint(1,60, size = 1653)

5.0228310502283106e-05

In [ ]:
# nearest road blocks to each road segment
dist = []
for segment in volume.geometry:
    d = []
    for block in roads.geometry:
        d.append(segment.distance(block))
    d = np.array(d)
    dist.append(d.argmin())

In [246]:
volume

,SEGID,COUNT_COMPKEY,FIRST_STNAME_ORD,FIRST_ARTDESCRIPT,FIRST_TRANDESCRIPT,COUNTFLAG,FLOWSEGID,DOWNTOWN,COUNTSTART,COUNTAADT,COUNTAAWDT,ESTIMATE,AWDT_ROUND,SHAPE_Length,geometry
0,1,None,S SPOKANE ST,None,None,Y,2019.0,N,2015-04-03T00:00:00,5508.833000,6829.504000,None,6800.0,1118.471355,LINESTRING (-122.3396800681195 47.571700326672...
1,2,None,BATTERY ST TUNNEL NB,None,None,Y,2023.0,N,2015-06-09T00:00:00,27080.835000,28793.392000,None,28800.0,1605.935119,LINESTRING (-122.3392266031084 47.570739990412...
2,3,None,ALASKAN WY VI SB,None,None,Y,2024.0,N,2015-06-09T00:00:00,0.000000,23393.664000,None,23400.0,2441.189454,LINESTRING (-122.3394359390524 47.566345148425...
3,4,None,S SPOKANE ST RP,None,None,Y,2025.0,N,2015-06-09T00:00:00,3622.684000,4421.927000,None,4400.0,1214.542393,LINESTRING (-122.3434333843779 47.571579040153...
4,5,None,WEST SEATTLE BR WB,None,None,Y,2026.0,N,2014-04-29T00:00:00,46875.085335,50036.029406,None,50000.0,1817.352489,LINESTRING (-122.333137393517 47.5715774100566...
5,6,None,WEST SEATTLE BR EB,None,None,Y,2027.0,N,None,NaN,35000.000000,Y,35000.0,1423.838986,LINESTRING (-122.3309157221583 47.571518426658...
6,7,None,W SEA BR EB 4 AV OFF RP,None,None,Y,2028.0,N,None,NaN,24000.000000,Y,24000.0,1458.971527,LINESTRING (-122.3309157221583 47.571518426658...
7,8,None,MYERS WAY S,None,None,Y,2029.0,N,None,NaN,38000.000000,Y,38000.0,335.499087,LINESTRING (-122.3348413540749 47.522322332560...
8,9,None,S CLOVERDALE ST,None,None,Y,2030.0,N,None,NaN,13000.000000,Y,13000.0,987.546181,LINESTRING (-122.3281987581469 47.526481143795...
9,10,None,S CLOVERDALE ST,None,None,Y,2031.0,N,None,NaN,11000.000000,Y,11000.0,1305.323633,LINESTRING (-122.3229156126081 47.526465474329...
10,11,None,M L KING JR WAY S,None,None,Y,2032.0,N,None,NaN,12200.000000,Y,12200.0,609.897683,LINESTRING (-122.2808464002977 47.535404802102...
11,12,None,M L KING JR WAY S,None,None,Y,2033.0,N,2015-05-07T00:00:00,16613.000000,16839.000000,None,16800.0,5607.783601,LINESTRING (-122.2783670053972 47.507991191442...
12,13,None,BEACON AVE S,None,None,Y,2034.0,N,None,NaN,1700.000000,Y,1700.0,2062.995434,LINESTRING (-122.2836877081792 47.521382613658...
13,14,None,W EMERSON PL,None,None,Y,2035.0,N,None,NaN,19000.000000,Y,19000.0,257.371844,LINESTRING (-122.3772591273601 47.653991253371...
14,15,None,NE 50TH ST,None,None,N,2036.0,N,None,NaN,25500.000000,Y,25500.0,127.593955,LINESTRING (-122.3256080249078 47.664987533765...
15,16,None,S SPOKANE CR ST,None,None,Y,2040.0,N,None,NaN,10000.000000,Y,10000.0,74.907110,LINESTRING (-122.3259888155032 47.571556038003...
16,17,None,S ALBRO PL,None,None,Y,227.0,N,None,NaN,13000.000000,Y,13000.0,367.453715,LINESTRING (-122.3149144213563 47.546991108794...
17,18,None,15TH AVE S,None,None,Y,36.0,N,None,NaN,11500.000000,Y,11500.0,871.334417,LINESTRING (-122.3134120206199 47.580593219548...
18,19,None,S COLLEGE ST,None,None,Y,470.0,N,None,NaN,3000.000000,Y,3000.0,321.854107,LINESTRING (-122.3133944296468 47.582981945378...
19,20,None,6TH AVE W,None,None,Y,1235.0,N,None,NaN,5000.000000,Y,5000.0,2039.680964,LINESTRING (-122.3650495662149 47.632329623594...
20,21,None,BOSTON ST\r\nBOSTON ST,None,None,Y,NaN,N,None,NaN,3800.000000,Y,3800.0,2436.092189,LINESTRING (-122.3470967301338 47.638254251861...
21,22,None,NW 80TH ST,None,None,Y,1745.0,N,None,NaN,15000.000000,Y,15000.0,667.810097,LINESTRING (-122.3472145577592 47.686940667131...
22,23,None,5TH AVE NE,None,None,Y,1898.0,N,None,NaN,16000.000000,Y,16000.0,395.531449,LINESTRING (-122.3235646663258 47.723119337292...
23,24,None,7TH AVE,None,None,Y,739.0,Y,None,NaN,18000.000000,Y,18000.0,248.890584,LINESTRING (-122.3295820660879 47.607479762419...
24,25,None,AURORA AVE N,None,None,Y,1976.0,N,None,NaN,50000.000000,Y,50000.0,1303.551864,LINESTRING (-122.3468350426157 47.675984852059...
25,26,None,AURORA AVE N,None,None,Y,1977.0,N,None,NaN,54000.000000,Y,54000.0,4330.002837,LINESTRING (-122.3472542477627 47.672437355844...
26,27,None,AURORA AVE N,None,None,Y,1978.0,N,None,NaN,58000.000000,Y,58000.0,3361.555135,LINESTRING (-122.3473369065942 47.660566870938...
27,28,None,W EMERSON PL,None,None,Y,1982.0,N,2014-02-20T00:00:00,13484.770873,14135.479783,None,14100.0,821.129458,LINESTRING (-122.3864792466932 47.655871411486...
28,29,None,GILMAN AVE W,None,None,Y,1983.0,N,2014-02-20T00:00:00,6764.249256,7224.430597,None,7200.0,834.589925,LINESTRING (-122.3864792466932 47.655871411486...
29,30,None,15TH AV W NB ON RP,None,None,Y,1984.0,N,None,NaN,7500.000000,Y,7500.0,694.405661,LINESTRING (-122.3761086638445 47.648468285406...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835,1836,None,BEACON AVE S,None,None,Y,43.0,N,2015-05-07T00:00:00,8497.489000,8673.665000,None,8700.0,4843.941864,LINESTRING (-122.2596357543461 47.495989371779...
1836,1837,None,S BANGOR ST,None,None,Y,44.0,N,2014-03-25T00:00:00,5548.118777,5822.619417,None,5800.0,3879.456352,LINESTRING (-122.254536615957 47.5063528316594...
1837,1838,None,RENTON AVE S,None,None,Y,45.0,N,2015-05-07T00:00:00,11498.487000,11653.642000,None,11700.0,2893.135371,LINESTRING (-122.2496420003486 47.499341509373...
1838,1839,None,RENTON AVE S,None,None,Y,46.0,N,None,NaN,8700.000000,Y,8700.0,834.302025,LINESTRING (-122.254536615957 47.5063528316594...
1839,1840,None,S PRENTICE ST,None,None,N,47.0,N,None,NaN,400.000000,Y,NaN,151.364787,LINESTRING (-122.2565178160652 47.508204605652...
1840,1841,None,35TH AVE SW/MARINE VIEW DR SW,None,None,Y,48.0,N,2014-02-19T00:00:00,1756.393489,1816.779275,None,1800.0,6728.714716,LINESTRING (-122.3759328952826 47.508189113074...
1841,1842,None,SW 106TH ST,None,None,Y,49.0,N,2015-05-05T00:00:00,13006.994000,13061.048000,None,13100.0,1250.039037,LINESTRING (-122.37087513236 47.50820078683306...
1842,1843,None,39TH AVE SW,None,None,Y,50.0,N,None,NaN,1500.000000,Y,1500.0,681.446100,LINESTRING (-122.3814922280432 47.506370045083...
1843,1844,None,SW 106TH ST,None,None,Y,51.0,N,None,NaN,3500.000000,Y,3500.0,1375.365290,LINESTRING (-122.3759328952826 47.508189113074...
1844,1845,None,S CLOVERDALE ST,None,None,Y,29.0,N,2015-01-29T00:00:00,9765.980000,11047.834000,None,11000.0,1977.819877,LINESTRING (-122.3149104113386 47.526440888680...
1845,1846,None,15TH EMERSON RP,None,None,Y,3.0,N,None,NaN,17000.000000,Y,17000.0,809.376814,LINESTRING (-122.3752302977992 47.653582642478...
1846,1847,None,HARBOR AV SW OFF RP,None,None,Y,4.0,N,2015-04-07T00:00:00,0.000000,4744.234000,None,4700.0,804.484356,LINESTRING (-122.3651060213952 47.571573539119...
1847,1848,None,SW ADMIRAL WY OFF RP,None,None,Y,5.0,N,2015-04-07T00:00:00,8163.881000,8534.922000,None,8500.0,1137.081404,LINESTRING (-122.367558484174 47.5715785884547...
1848,1849,None,W SEATTLE BR WB-CHEL RP,None,None,Y,6.0,N,2014-04-14T00:00:00,1670.317991,2013.366185,None,2000.0,289.902361,LINESTRING (-122.3609708822267 47.571400902567...
1849,1850,None,CHELAN-W SEATTLE BR RP,None,None,N,7.0,N,2015-04-07T00:00:00,1232.561000,1498.849000,None,1500.0,413.130427,LINESTRING (-122.3621923972285 47.571343976477...
1850,1851,None,1ST AV S SB ON RP,None,None,Y,9.0,N,None,NaN,15000.000000,Y,15000.0,1534.695068,LINESTRING (-122.3313060480658 47.544881424375...
1851,1852,None,WEST SEATTLE BR WB,None,None,Y,10.0,N,2015-04-02T00:00:00,11111.917805,11958.575651,None,12000.0,3145.406346,(LINESTRING (-122.3257678607447 47.57164233106...
1852,1853,None,ALASKAN WY VI NB ON RP,None,None,Y,11.0,N,2015-06-09T00:00:00,23765.959000,25170.043000,None,25200.0,2261.295649,LINESTRING (-122.3392266031084 47.570739990412...
1853,1854,None,WEST SEATTLE BR EB,None,None,Y,12.0,N,2013-04-15T00:00:00,17578.655600,18975.599516,None,19000.0,1660.062411,LINESTRING (-122.3251893473616 47.571303935193...
1854,1855,None,WEST SEATTLE BR EB,None,None,Y,13.0,N,2014-10-30T00:00:00,89725.081136,95579.635053,None,95600.0,3185.980294,LINESTRING (-122.3437876991764 47.571220736427...
1855,1856,None,15TH AVE W,None,None,Y,14.0,N,2015-06-16T00:00:00,20732.477825,43704.817787,None,43700.0,3264.985289,LINESTRING (-122.3761675110577 47.642448691466...
1856,1857,None,BALLARD BR,None,None,Y,17.0,N,2015-09-17T00:00:00,56844.753000,59189.672000,None,59200.0,3619.346609,LINESTRING (-122.3762211877773 47.662352907753...
1857,1858,None,EASTLAKE AVE E,None,None,Y,18.0,N,2014-10-29T00:00:00,5593.198983,6558.280044,None,6600.0,2857.968960,LINESTRING (-122.3260710196912 47.632255477661...
1858,1859,None,1ST AV S BR SB,None,None,Y,20.0,W,2015-09-03T00:00:00,29140.885000,30110.105000,None,30100.0,4493.465357,LINESTRING (-122.3349752100122 47.535750633712...
1859,1860,None,W SEA BR WB - 6TH AV RP,None,None,Y,21.0,N,2015-04-02T00:00:00,1585.980000,1798.423000,None,1800.0,899.422995,LINESTRING (-122.3256856594979 47.571546981141...
1860,1861,None,1ST AV S BR NB,None,None,Y,22.0,W,2015-09-03T00:00:00,43529.846000,49880.215000,None,49900.0,4250.820035,LINESTRING (-122.3345443306886 47.535764256481...
1861,1862,None,ROOSEVELT WAY NE,None,None,Y,25.0,N,None,NaN,14000.000000,Y,14000.0,1328.131644,LINESTRING (-122.3174134155097 47.679470220850...
1862,1863,None,W SEATTLE BR WB-DELR RP,None,None,Y,26.0,N,2015-04-07T00:00:00,1274.658000,1518.429000,None,1500.0,1326.377245,LINESTRING (-122.3614513133434 47.570911769104...
1863,1864,None,W EMERSON PL,None,None,Y,27.0,N,2015-07-30T00:00:00,18361.206000,19776.279000,None,19800.0,1743.234904,LINESTRING (-122.3833864443952 47.655630763074...
1864,1865,None,NE 75TH ST,None,None,Y,28.0,N,None,NaN,19500.000000,Y,19500.0,544.402823,LINESTRING (-122.3152796883221 47.683086264391...

In [1]:
acc

NameError: name 'acc' is not defined